@model IEnumerable<CapstonePowerlifting.Models.OneRepMax>

@{
	ViewBag.Title = "Index";
}

<h2>One-rep Maxes</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>
<table class="table">
	<tr>
		@*<th>
				@Html.DisplayNameFor(model => model.User.FirstName)
			</th>*@
		<th>
			@Html.DisplayNameFor(model => model.Date)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Squat)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Bench)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Deadlift)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Total)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Wilks)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			@*<td>
					@Html.DisplayFor(modelItem => item.User.FirstName)
				</td>*@
			<td>
				@Html.DisplayFor(modelItem => item.Date)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Squat)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Bench)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Deadlift)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Total)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Wilks)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.OneRepMaxId }) |
				@Html.ActionLink("Details", "Details", new { id = item.OneRepMaxId }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.OneRepMaxId })
			</td>
		</tr>
	}

</table>

@*<div>@Html.ActionLink("Line Chart", "OneRepMaxProgress")</div>*@
<div><input type="button" value="Line Chart" onclick="location.href='@Url.Action("OneRepMaxProgress")'" /></div>
<div><input type="button" value="Leaderboard" onclick="location.href='@Url.Action("Leaderboard")'" /></div>
<div><input type="button" value="User Profile" onclick="location.href='@Url.Action("UserProfile")'" /></div>

<p>
	<div class="fb-share-button" data-href="https://72e155ee.ngrok.io/OneRepMaxes" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flocalhost%3A44302%2FOneRepMaxes%2FShareableMax%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
</p>
