@model IEnumerable<CapstonePowerlifting.Models.SavedWorkout>

@{
	ViewBag.Title = "ViewHistoricalWorkout";
}

<h2>Index</h2>

@*<p>
		@Html.ActionLink("Create New", "Create")
	</p>*@
<table class="table">
	<tr>
		@*<th>
				@Html.DisplayNameFor(model => model.User.FirstName)
			</th>*@
		<th>
			@Html.DisplayNameFor(model => model.WorkoutId)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Date)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Exercise)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.OneRMPercentage)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Reps)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Weight)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.NoteText)
		</th>
		@*<th>
				@Html.DisplayNameFor(model => model.SavedWorkoutDateId)
			</th>*@
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			@*<td>
					@Html.DisplayFor(modelItem => item.User.FirstName)
				</td>*@
			<td>
				@Html.DisplayFor(modelItem => item.WorkoutId)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Date)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Exercise)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.OneRMPercentage)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Reps)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Weight)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.NoteText)
			</td>
			@*<td>
					@Html.DisplayFor(modelItem => item.SavedWorkoutDateId)
				</td>*@
			@*<td>
					@Html.ActionLink("Edit", "Edit", new { id=item.SavedWorkoutId }) |
					@Html.ActionLink("Details", "Details", new { id=item.SavedWorkoutId }) |
					@Html.ActionLink("Delete", "Delete", new { id=item.SavedWorkoutId })
				</td>*@
		</tr>
	}

</table>
