@model IEnumerable<CapstonePowerlifting.Models.LeaderboardMax>

@{
    ViewBag.Title = "Index";
}

<h2>Leaderboard</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Squat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bench)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deadlift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wilks)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ApplicationId)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Squat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bench)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deadlift)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wilks)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ApplicationId)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LeaderboardMaxId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LeaderboardMaxId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LeaderboardMaxId })
        </td>*@
    </tr>
}

</table>
